/*
   FONTS   
   font-family: 'Rubik', sans-serif;
   font-family: 'Karla', sans-serif;
*/

* {
   margin: 0;
   padding: 0;
   background-color: rgb(250, 207, 166);
   color: rgb(50, 53, 56);
}

#head-container {
   width: 100%;
   min-height: 10vh;
   
   display: flex;
   justify-content: center;
   align-items: center;

   font-family: 'Rubik', sans-serif;
}

#body-container {
   width: 100%;
   min-height: 200px;
   height: 90vh;

   border-radius: 5px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   font-family: 'Karla', sans-serif;
}

#card-container {
   box-sizing: border-box;
   width: 80%;
   max-width: 500px;
   height: 85%;
   border-radius: 10px;

   padding: 15px;

   background-color: rgb(242, 125, 18);

   display: flex;
   flex-direction: column;

   overflow: auto;
}

#card-container::-webkit-scrollbar {
   width: 10px;
   background-color: white;
   border-radius: 10px;
}

#card-container::-webkit-scrollbar-thumb {
   background-color: rgb(246, 166, 92);
   border-radius: 10px;
}

.card {
   box-sizing: border-box;
   width: 100%;
   border-radius: 10px;
   height: 50px;
   min-height: 35px;
   margin-bottom: 5px;
   padding: 10px;

   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden; /* works but it pushes the score, so we'll probs have to encapsule the name's label*/

   background-color: rgb(246, 166, 92);
}

.card span {
   background-color: inherit;
   color: white;
}

#bottom-container {
   width: 80%;
   max-width: 500px;
   height: 15%;

   display: flex;
   align-items: center;
   justify-content: center;
}

#bottom-container button {
   border: none;
   outline: none;

   padding: 10px 40px;
   border-radius: 10px;
   background-color: rgb(9, 208, 121);
   
   color: #FFF;
   font-size: 2em;
}

#bottom-container button:hover {
   background-color: rgb(8, 184, 107);
}