/*
   FONTS   
   font-family: 'Rubik', sans-serif;
   font-family: 'Karla', sans-serif;
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
   overflow: hidden;
}

main {
   height: 100vh;

   padding: 5vh 5vw;

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   column-gap: 5vw;
   row-gap: 5vh;

   grid-template-areas: 
   "A B" 
   "C D" 
   "info info";
}

.answer {
   border-radius: 10px;

   font-family: 'Rubik', sans-serif;
   font-size: 10vw;
   color: #ffffff;
   text-shadow: #000000 0px 0px 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}

#answer-A {
   /* background-color: rgb(248, 19, 9); */
   background-color: rgb(232, 0, 0);

   grid-area: A;
}

#answer-B {
   background-color: rgb(18, 192, 24);

   grid-area: B;
}

#answer-C {
   background-color: rgb(0, 150, 250);

   grid-area: C;
}

#answer-D {
   background-color: rgb(255, 242, 0);

   grid-area: D;
}

#answer-A.disabled,
#answer-B.disabled,
#answer-C.disabled,
#answer-D.disabled
{
   background-color: rgb(188, 187, 189);
}

#info {
   background-color: rgb(221, 227, 229);

   grid-area: info;
}

#Hen{
   height: 110vh;
   width: 110vw;
   position: fixed;
   
   /* Prevent from being selected */
   -webkit-user-select:none; 
   -webkit-touch-callout:none;

   -moz-user-select:none; 
   -ms-user-select:none; 
   user-select:none;    

   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 0.2s;
   -webkit-animation-name: henAnim;
   -webkit-animation-duration: 0.2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;

   -moz-transition-property: -moz-transform;
   -moz-transition-duration: 0.2s;
   -moz-animation-name: henAnim;
   -moz-animation-duration: 0.2s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;

   transition-property: -moz-transform;
   transition-duration: 0.2s;
   animation-name: henAnim;
   animation-duration: 0.2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

#Hen:focus{
   outline: none;
}

@keyframes henAnim{
   0% {
      transform:rotate(0deg);
   }
   25% {
      transform:rotate(1deg);
   }
   50% {
       transform:rotate(0deg);
   }   
   75% {
      transform:rotate(-1deg);
  }   
  100%{
     transform: rotate(0deg);
  }
   
}

.SleepingChick{
   position: fixed;
}

#egg{
   height: 100vh;
   width: 50vw;
   position: fixed;
   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 30s;
   -webkit-animation-name: eggAnim;
   -webkit-animation-duration: 28s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;

   -moz-transition-property: -moz-transform;
   -moz-transition-duration: 30s;
   -moz-animation-name: eggAnim;
   -moz-animation-duration: 28s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;

   transition-property: -moz-transform;
   transition-duration: 30s;
   animation-name: eggAnim;
   animation-duration: 28s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes eggAnim{
   0% {
      transform:scaleY(1);
   }
   25% {
      transform:scaleY(1.1);
   }
   50% {
      transform:scaleY(1.2);
   }
   75% {
      transform:scaleY(1.3);
   }
   100% {
       transform:scaleY(1.4);
   }
}

#test-chicken {
   position: absolute;
   top: 50%;
   left: 50%;

   /*https://stackoverflow.com/questions/22333747/shrink-and-grow-an-element-using-css3*/
   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 1s;
   -webkit-animation-name: sleep;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;

   -moz-transition-property: -moz-transform;
   -moz-transition-duration: 1s;
   -moz-animation-name: sleep;
   -moz-animation-duration: 2s;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   
   transition-property: -moz-transform;
   transition-duration: 1s;
   animation-name: sleep;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes sleep {
   0% {
      transform:scale(1);
   }
   25% {
      transform:scale(1.03, 0.99);
   }
   50% {
      transform:scale(1);
   }
   75% {
      transform:scale(0.97, 1.01);
   }
   100% {
       transform:scale(1);
   }
}

/* @keyframes wakeUp {
   0% {
      transform: scaleY(1);
   }
   100% {
      transform: scaleY(1.5);
   }
} */

@keyframes wakeUp {
   0% {
      transform: scaleY(1);
   }
   10% {
      transform: scaleY(1.5);
   }
   100% {
      transform: scaleY(1);
   }
}